In [1]:
# problem statement : we are having 100's of reviews and consists of noise such as punctuations,capitals and repetative words

In [3]:
import pandas as pd

In [13]:
df=pd.read_csv('sentiment-analysis.csv',sep=',')
df.head()

  Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score
0  "I love this product!", Positive, Twitter, 202...
1  "The service was terrible.", Negative, Yelp Re...
2  "This movie is amazing!", Positive, IMDb, 2023...
3  "I'm so disappointed with their customer suppo...
4  "Just had the best meal of my life!", Positive...